body {
  padding: 0;
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* GLOBAL */

.container {
  margin: 0 auto;

  max-width: 1600px;
}

.row {
  display: flex;
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

/* /GLOBAL */

/* HEADER */

.header {
  position: sticky;
  z-index: 1;

  top: 0;
  left: 0;
}

.header .container {
  position: absolute;

  padding-top: 20px;

  top: 0;
  left: 0;
  right: 0;

  user-select: none;
}

.logo {
  padding-left: 30px;

  font-family: "Redressed";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;

  color: #ffffff;

  text-align: center;
  letter-spacing: 0.05em;
  text-transform: capitalize;

  cursor: pointer;
}

.language_box {
  margin-left: 90px;
  margin-right: 165px;

  width: 39px;
  height: 39px;

  font-family: "Oswald";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 36px;

  color: #676565;

  border-radius: 20px;

  background-color: #f2dc90;

  transition: background-color 0.4s;

  text-align: center;
  text-transform: uppercase;

  cursor: pointer;
}

.language_box:hover {
  background-color: #eaeaea;
}

.nav {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;

  text-transform: uppercase;
}

.nav ul {
  display: flex;

  padding: 0;
  margin: 0;
  list-style-type: none;
}

.nav li + li {
  margin-left: 108px;
}

.nav a {
  color: #eaeaea;

  outline: none;

  text-decoration: none;

  transition: color 0.2s linear;
}

.nav a:hover {
  color: #f2dc90;
}

.theme {
  margin-left: 165px;

  width: 30px;
  height: 30px;

  background: url(/public/Assets/Images/Header/Light_Theme.svg);

  cursor: pointer;
}

.theme:hover {
  background: url(/public/Assets/Images/Header/Light_Theme_hover.svg);
}

.search {
  position: relative;
  z-index: 2;

  padding-right: 30px;
  margin-left: 90px;

  width: 360px;

  cursor: pointer;
}

.search_icon {
  z-index: 2;

  margin-top: 1px;
  margin-left: 10px;
  margin-right: 13px;

  width: 24px;
  height: 24px;

  background: url(/public/Assets/Images/Header/Search_icon.svg);
}

.search_text {
  z-index: 2;

  font-family: "Oswald";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 36px;

  color: #ffffff;
}

.search_background {
  position: absolute;
  z-index: 1;

  left: 0;
  top: 0;

  width: 360px;
  height: 40px;

  border-radius: 8px;

  background: #c4c4c4;

  opacity: 0.5;
}

.header_line {
  margin-top: 15px;

  border: 2px solid #d6cbcb;
  border-radius: 3px;

  opacity: 0.5;
}

/* /HEADER */

/* INTRO */

.section_intro {
  width: 100%;
  height: 1080px;

  background: url(/public/Assets/Images/Main_page/Intro/Background_intro.jpg)
    no-repeat;

  user-select: none;
}

.intro_text {
  padding-top: 400px;

  font-family: "PT Sans Narrow";
  font-style: normal;
  font-weight: 400;
  font-size: 100px;
  line-height: 129px;

  color: #f2dc90;

  text-align: right;
  text-transform: uppercase;
}

.intro_text + .intro_text {
  padding-top: 197px;

  text-align: left;
}

/* /INTRO */

/* BENEFITS */

.section_benefits .container {
  max-width: 100%;

  background-color: #f2dc90;

  cursor: default;
}

.benefit {
  padding-top: 110px;
  padding-bottom: 109px;
  margin: 0 auto;

  max-width: 1600px;

  text-align: center;
}

.benefit_text {
  max-width: 862px;

  font-family: "Oswald";
  font-style: normal;
}

.benefit_title {
  margin-bottom: 105px;

  font-weight: 400;
  font-size: 60px;
  line-height: 89px;

  text-transform: uppercase;
}

.even_title_benefit {
  color: #676565;
}

.odd_title_benefit {
  color: #2f2d2d;
}

.benefit_description {
  font-weight: 300;
  font-size: 35px;
  line-height: 52px;
}

.even_description_benefit {
  color: #383636;
}

.odd_description_benefit {
  color: #2f2d2d;
}

.image_benefit {
  width: 368px;
  height: 381px;
}

.img_1_benefits {
  background: url(/public/Assets/Images/Main_page/Benefits/Image_statistic.png);
}

.img_2_benefits {
  background: url(/public/Assets/Images/Main_page/Benefits/Image_achievements.png);
}

.img_3_benefits {
  background: url(/public/Assets/Images/Main_page/Benefits/free-icon-dumbbell-38464.png);
}

/* /BENEFITS */

/* ARTICLES */

.articles {
  height: 1264px;

  background: url(/public/Assets/Images/Main_page/Section_Articles/Background_articles.jpg);
}

.articles .container {
  margin: 0 auto;

  max-width: 1600px;
}

.text_article_section {
  padding-top: 60px;
  padding-bottom: 60px;
  margin: auto;

  max-width: 1550px;

  color: #000000;

  text-align: center;

  cursor: default;
  user-select: none;
}

.title_article_section {
  margin-bottom: 50px;

  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 119px;

  text-transform: uppercase;
}

.description_article_section {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 200;
  font-size: 35px;
  line-height: 52px;
}

.articles_block {
  display: flex;
  justify-content: space-between;
}

.arrow {
  margin-top: 123px;
  margin-right: 0px;

  width: 50px;
  height: 50px;

  background-image: url(/public/Assets/Images/Main_page/Section_Articles/left.png);

  cursor: pointer;
}

.arrow:hover {
  background-image: url(/public/Assets/Images/Main_page/Section_Articles/left_hover.png);
}

.arrow_2 {
  transform: rotate(180deg);
}

.article {
  margin: 0 25px;

  width: 450px;
}

.image_article {
  z-index: 2;

  cursor: pointer;
}

.image_article_1 {
  height: 300px;

  background: url(/public/Assets/Images/Article_page/Image_articles_1_main_page.jpg);

  filter: drop-shadow(10px -5px 15px rgba(0, 0, 0, 0.25));
  border-radius: 5px;

  transition: transform 0.2s linear;
}

.image_article_1:hover {
  transform: scale(1.05);
}

.image_article_2 {
  height: 300px;

  background: url(/public/Assets/Images/Article_page/Image_articles_2_main_page.jpg);

  filter: drop-shadow(10px -5px 15px rgba(0, 0, 0, 0.25))
    drop-shadow(-10px -5px 15px rgba(0, 0, 0, 0.25));
  border-radius: 5px;

  transition: transform 0.2s linear;
}

.image_article_2:hover {
  transform: scale(1.05);
}

.image_article_3 {
  height: 300px;

  background: url(/public/Assets/Images/Article_page/Image_articles_3_main_page.jpg);

  filter: drop-shadow(-10px -5px 15px rgba(0, 0, 0, 0.25));
  border-radius: 5px;

  transition: transform 0.2s linear;
}

.image_article_3:hover {
  transform: scale(1.05);
}

.title_article_block {
  margin: auto;
  margin-top: 25px;

  width: 423px;

  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 47px;

  text-decoration-line: underline;
  text-transform: uppercase;
}

.title_article {
  color: #323232;

  transition: color 0.1s linear, text-shadow 0.1s linear;

  cursor: pointer;
}

.title_article:hover {
  color: #d6b02e;
  text-shadow: 0px 8px 20px rgba(0, 0, 0, 0.25);
}

.description_block {
  margin-top: 30px;

  width: 450px;

  background: rgba(223, 223, 223, 0.7);
  border-radius: 5px;
}

.description_block_1 {
  height: 346px;
}

.description_block_2 {
  height: 310px;
}

.description_block_3 {
  height: 270px;
}

.description_article {
  padding-top: 5px;
  padding-left: 15px;

  width: 423px;

  font-family: "Oswald";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: 0.03em;

  color: #353535;
}

.block_see_more {
  margin-left: 330px;
  margin-top: 12px;

  font-family: "Oswald";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: 0.03em;

  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
}

.see_more {
  color: #ffffff;

  transition: color 0.15s linear;

  text-decoration: none;

  user-select: none;
}

.see_more:hover {
  color: #f2dc90;
}

/* /ARTICLES */

/* FOOTER */

.footer .container {
  display: flex;
  justify-content: space-between;

  margin: auto;

  height: 200px;

  max-width: 1600px;
  cursor: default;
}

.footer_nav {
  display: flex;
  justify-content: space-between;

  width: 1107px;
}

.footer_block {
  margin-top: 15px;
  margin-bottom: 30px;
}

.footer_block_end {
  margin-top: 82px;
}

.info_footer_block {
  margin: 2px 0;
}

.title_footer {
  margin-left: 10px;
  margin-bottom: 20px;

  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 59px;

  color: #d6b02e;
}

.info_footer {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 36px;

  color: #353535;

  cursor: pointer;
  text-decoration: none;
}

.info_footer:hover {
  text-decoration-line: underline;
}

.socials_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 220px;
}

.social_icon_footer {
  width: 40px;
  height: 40px;

  cursor: pointer;
}

.social_img_1 {
  background: url(/public/Assets/Images/Footer/VK.svg);
}

.social_img_2 {
  background: url(/public/Assets/Images/Footer/Instagram.svg);
}

.social_img_3 {
  height: 34px;

  background: url(/public/Assets/Images/Footer/Telegram.svg);
}

.social_img_4 {
  height: 29px;

  background: url(/public/Assets/Images/Footer/Youtube.svg);
}

.privacy_policy {
  margin-right: 16px;

  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
}

.privacy_policy .footer_link {
  color: #353535;

  transition: color 0.15s linear;

  text-decoration: none;
  text-shadow: 4px 4px 12px rgba(0, 0, 0, 0.4);
}

.privacy_policy .footer_link:hover {
  color: #929292;
  text-shadow: 4px 4px 12px rgba(104, 104, 104, 0.4);
}

.footer_logo {
  margin-top: 11px;

  font-family: "Redressed";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;

  text-align: right;
  letter-spacing: 0.05em;
  text-transform: capitalize;
}

.footer_logo .footer_link {
  color: #707070;

  text-decoration-line: none;
}
