body {
  padding: 0;
  margin: 0;

  font-family: "Oswald";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-weight: 300;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* BASE */

.container {
  margin: 0 auto;

  max-width: 1600px;
}

.row {
  display: flex;
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

/* /BASE */

/* BENEFITS */

.benefits {
  cursor: default;
}

.benefits .container {
  padding: 110px 151.5px;

  text-align: center;

  color: #676565;

  background-color: #f2dc90;
}

.benefits .container:nth-child(even) {
  color: #2f2d2d;

  background-color: #d3cfd3;

  flex-direction: row-reverse;
}

.benefit_text {
  max-width: 862px;
}

.benefit_title {
  margin-bottom: 105px;

  font-weight: 400;
  font-size: 60px;

  text-transform: uppercase;
}

.benefit_text p {
  font-weight: 300;
  font-size: 35px;
  line-height: 1.485;
}

.benefit_img {
  width: 368px;
  height: 381px;
}

.benefits .container .img_1 {
  background-image: url(/src/Assets/Images/Main_page/Benefits/Image_statistic.png);
}

.benefits .container .img_2 {
  background-image: url(/src/Assets/Images/Main_page/Benefits/Image_achievements.png);
}

.benefits .container .img_3 {
  background-image: url(/src/Assets/Images/Main_page/Benefits/free-icon-dumbbell-38464.png);
}

/* /BENEFITS */

/* ARTICLES */

.articles {
  background-image: url(/src/Assets/Images/Main_page/Section_Articles/Background_articles.jpg);
}

.articles_desc {
  padding-bottom: 60px;
  margin: auto;

  text-align: center;

  max-width: 1550px;

  font-weight: 200;
  font-size: 35px;
  line-height: 1.485;

  cursor: default;
  user-select: none;
}

.articles_title {
  padding-top: 60px;
  margin-bottom: 50px;

  text-align: center;

  font-weight: 400;
  font-size: 80px;

  text-transform: uppercase;

  cursor: default;
  user-select: none;
}

.slider {
  display: flex;
}

.arrow {
  margin-top: 123px;
  margin-right: 0px;

  width: 50px;
  height: 50px;

  background-image: url(/src/Assets/Images/Main_page/Section_Articles/left.png);

  cursor: pointer;
}

.arrow ~ .arrow {
  transform: rotate(180deg);
}

.arrow:hover {
  background-image: url(/src/Assets/Images/Main_page/Section_Articles/left_hover.png);
}

.article {
  margin: 0 25px;
  margin-bottom: 73px;
}

.article_img {
  display: inline-block;

  width: 450px;
  height: 300px;

  transition: transform 0.2s linear;
}

.article_img:hover {
  transform: scale(1.05);
}

.img_1 {
  background-image: url(/src/Assets/Images/Article_page/Image_articles_1_main_page.jpg);

  filter: drop-shadow(10px -5px 15px rgba(0, 0, 0, 0.25));
  border-radius: 5px;
}

.img_2 {
  background-image: url(/src/Assets/Images/Article_page/Image_articles_2_main_page.jpg);

  filter: drop-shadow(10px -5px 15px rgba(0, 0, 0, 0.25))
    drop-shadow(-10px -5px 15px rgba(0, 0, 0, 0.25));
  border-radius: 5px;
}

.img_3 {
  background-image: url(/src/Assets/Images/Article_page/Image_articles_3_main_page.jpg);

  filter: drop-shadow(-10px -5px 15px rgba(0, 0, 0, 0.25));
  border-radius: 5px;
}

.article_title {
  margin: auto;
  margin-top: 25px;

  padding: 0;

  max-width: 423px;

  font-weight: 400;
  font-size: 32px;
  line-height: 47px;

  text-transform: uppercase;

  cursor: pointer;
}

.article_title a {
  color: #323232;

  transition: color 0.1s linear, text-shadow 0.1s ease;

  text-decoration-line: underline;
}

.article_title a:hover {
  color: #d6b02e;
  text-shadow: 0px 8px 20px rgba(0, 0, 0, 0.25);
}

.article_desc {
  margin-top: 30px;
  /* margin-bottom: 76px; */

  max-height: 346px;

  background-color: rgba(223, 223, 223, 0.7);
  border-radius: 5px;
}

.article_desc p {
  padding-top: 5px;
  padding-bottom: 12px;
  padding-left: 15px;

  max-width: 423px;

  font-weight: 300;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: 0.03em;

  color: #353535;
}

.see_more {
  padding-left: 330px;
  padding-bottom: 9px;

  font-weight: 300;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: 0.03em;

  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
}

.see_more a {
  color: #ffffff;

  transition: color 0.15s linear;

  text-decoration: none;

  user-select: none;
}

.see_more a:hover {
  color: #f2dc90;
}

/* /ARTICLES */

/* FOOTER */

.footer_nav_wrapper {
  display: flex;
  justify-content: space-between;

  width: 1107px;
}

.footer_nav {
  margin-top: 15px;
  margin-bottom: 30px;
}

.footer_nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.footer_block_end {
  margin-top: 82px;
}

.footer_nav a {
  font-weight: 300;
  font-size: 24px;
  line-height: 36px;

  color: #353535;

  cursor: pointer;
  text-decoration: none;
}

.footer_title {
  margin-left: 10px;
  margin-bottom: 20px;

  font-weight: 400;
  font-size: 40px;
  line-height: 59px;

  color: #d6b02e;
}

.footer_text {
  margin: 2px 0;
}

.footer_text:hover {
  text-decoration-line: underline;
}

.socials_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 220px;
}

.footer_social_icon {
  width: 40px;
  height: 40px;

  cursor: pointer;
}

.footer_social_icon + .footer_social_icon {
  margin-left: 20px;
}

.social_img_1 {
  background-image: url(/src/Assets/Images/Footer/VK.svg);
}

.social_img_2 {
  background-image: url(/src/Assets/Images/Footer/Instagram.svg);
}

.social_img_3 {
  height: 34px;

  background-image: url(/src/Assets/Images/Footer/Telegram.svg);
}

.social_img_4 {
  height: 29px;

  background-image: url(/src/Assets/Images/Footer/Youtube.svg);
}

.footer_privacy_policy {
  margin-top: 82px;
}

.privacy_policy {
  margin-right: 16px;

  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
}

.privacy_policy a {
  color: #353535;

  transition: color 0.15s linear;

  text-decoration: none;
  text-shadow: 4px 4px 12px rgba(0, 0, 0, 0.4);
}

.privacy_policy a:hover {
  color: #929292;
  text-shadow: 4px 4px 12px rgba(104, 104, 104, 0.4);
}

.footer_logo {
  margin-top: 11px;
  text-align: right;
}

.footer_logo a {
  color: #707070;
  text-decoration: none;
}
